body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-right: 170px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    padding: 0px;
    color: #F9FAF8;
}

p1{
    color:#E5E7EB;
    font-size: 18px;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

p2 {
    text-align: center;
    font-size: 13px;
}

.i{
    width: 150px;
    height: 150px;
    border: #3882F6 solid 5px;
    border-radius: 10px;
}

.header {
    background-color: #1F2937;
    display:flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    padding-left: 170px;
}

.body1{
    background-color: #1F2937;
    display:flex;
    flex: 1;
    justify-content: space-around;
    padding: 65px;
}
.body1_text {
    color: white;
    width: 50%
}

.topimg {
    width: 400px;
    height: 300px;
}

#signup {
    margin-top: 10px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
}

.body2{
    background-color: white;
    padding: 48px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body2_img{
    display: flex;
    gap: 80px;
}

.img {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.body3 {
    background-color: #E5E7EB;
    padding: 100PX;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.by {
    text-align: right;
    font-weight: 900;
}

